<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.james.wmsforserver.mapper.UserPluginMapper">

    <select id="queryUserSingAccess" resultType="com.kt.james.wmsforserver.bean.UserAccessBean">
        select * from user_plugin
        where user_id = #{0} and plugin_id = #{1}
    </select>
    
    <update id="updateUserAccess" parameterType="com.kt.james.wmsforserver.bean.UserAccessBean">
        update user_plugin
        set  authority = #{authority}
        where user_id = #{user_id} and plugin_id = #{plugin_id}
    </update>

    <insert id="insertUserAccess" parameterType="com.kt.james.wmsforserver.bean.UserAccessBean">
        insert into user_plugin(user_id, plugin_id, authority)
        value(#{user_id}, #{plugin_id}, #{authority})
    </insert>

</mapper>