<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.james.wmsforserver.mapper.UserMapper">

    <select id="findUserByAccount" parameterType="java.lang.String" resultType="com.kt.james.wmsforserver.po.User">
        select user.*, company.name as company_name from user, company where user.account = #{account}
    </select>

    <select id="findUserById" parameterType="int" resultType="com.kt.james.wmsforserver.po.User">
        select user.*, company.name as company_name from user, company where user.id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.kt.james.wmsforserver.po.User">
        insert into user(account, password, nick, company_id, avatar_path)
        value (#{account}, #{password}, #{nick}, #{company_id}, #{avatar_path})
    </insert>

</mapper>